body {
    font-family: 'Roboto', sans-serif;
    margin: 0 150px;
}

code, blockquote {
    background-color: #eee;
    padding: 2px 4px;
}

blockquote {
    border-left: 2px solid #aaa;
    margin: 0;
    padding: 2px 10px;
}